<div>
  <%= form_for @article do |f| %>

    <% if @article.errors.any? %>
      <%= render 'common/error', errors: @article.errors %>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title , :class=>'form-control'%>
    </p>

    <p>
      <%= f.label :body %><br>
        <%= f.cktext_area :text, :class=>'form-control' %>

    </p>

    <p>
      <%= f.submit :class=>'btn btn-primary'%>
    </p>

  <% end %>
</div>
<!-- <script>
      $(function() {
          $('#edit').froalaEditor({
            imageUploadURL: '/public/images'
          });
      });
</script> -->
