
<div>
  <div class="jumbotron center">
    <h1>Listing articles</h1>

  </div>
  <div class="col-md-12">
    <div class="col-md-2" style="background-color: aliceblue; margin-right: 2px; ">
       <% if user_signed_in? %>
         <% if can? :create, Article %>
           <%= link_to 'New article', new_article_path %>
         <% end %>
         <p>Signed in as <%= current_user.name %></p>
       <% end %>
    </div>
    <div class="col-md-9" style="background-color: azure;">
      <% @articles.each do |article| %>

        <div class="col-md-12" style="background-color: azure;">
          <center>
            <h2>
              <b>
                <%= link_to article.title, article_path(article) %>
              </b>
            </h2>
          </center>
          <div >
            <p><%= strip_tags(article.text[0..100]) %>...</p>
            <%= link_to 'Continue Reading ->', article_path(article) %>
            <p style="float: right;">
            <% if  can? :destroy, article %>
              <%= link_to 'X', article_path(article),
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
            <% end %>

            </p>
            <p>Posted On : <%= article.created_at.strftime("%I:%M:%S %p %B %d, %Y") %> by <%= article.user.name? ? article.user.name : 'Unknown' %></p>
            <br/>
            <hr style="border-top: 1px solid #ccc;" />
          </div>

        </div>
      <% end %>
      <center><%= will_paginate @articles%></center>

    </div>
  </div>
</div>
