
<div>
  <div class="jumbotron center">
    <h1>Listing articles</h1>
    
  </div>
  <div class="col-md-12">
    <div class="col-md-2" style="background-color: aliceblue; margin-right: 2px; ">
       <%= link_to 'New article', new_article_path %>
    </div>
    <div class="col-md-9" style="background-color: azure;">
      <% @articles.each do |article| %>
       
        <div class="col-md-12" style="background-color: azure;">
          <center><h2><%= link_to article.title, article_path(article) %></h2></center>
          <div >
            <p><%= article.text %></p>
            <%= link_to 'Continue Reading ->', article_path(article) %>
            <p style="float: right;">
            <%= link_to 'X', article_path(article),
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
            </p>
            <p>Posted On : <%= article.created_at %></p>
            <br/>
            <hr style="border-top: 1px solid #ccc;" />
          </div>
        
        </div>
      <% end %>
    </div>
  </div> 
</div>
