<div>
<!-- <div class="col-md-6" >  -->
  <div class="jumbotron center">
    <h1><%= @article.title %></h1>
       <% if current_user.try(:is_admin?)%>
        <%= debug @article %>
        <p>
          <b>Title:</b>
          <%= @article.title %>
        </p>
      <% end %>
       
      <p>
        <span style="color: grey">Posted On :<%= @article.created_at %></span>
      </p>
  </div>
     <div class="col-md-2" >
      <% if can? :update, @article %> 
        <%= link_to 'Edit', edit_article_path(@article) %> |
      <% end %>
      <%= link_to 'Back', articles_path %> 
     </div>
         <div class="col-md-9">
            <strong>
            <%= raw(@article.text)%>

        <!--    <% if user_signed_in? && !current_user.try(:is_admin?) %>
             <%= simple_format @article.to_yaml %>
             <p>
             <b>text:</b>
             <%= @article.text %>
             </p>
           <% end %> -->

  <div class="col-md-12" style="border-color:#c3ccdb; background-color: #c3ccdb";>
      
        <% if @article.comments %>
  
        <h2>Comments</h2>
        <%= render @article.comments %>
        <% end %>
       </div>
        
        <div class="col-md-12" style="border-color: aliceblue; background-color: #b7c8e5;">
        <h2>Add a comment:</h2>
        <%= render 'comments/form' %> 
      </div>
     
   </div>
 </div>




