<!-- Collect the nav links, forms, and other content for toggling -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BLOG", articles_path, :class=>'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "HOME", articles_path, :class=>'active' %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'EDIT', edit_user_registration_path  %></li>
        <% else %>
          <li><%= link_to 'REGISTER', new_user_registration_path %></li>  <li><%= link_to 'SIGN IN', new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= image_tag current_user.avatar.url(:thumb), :class=>'img-circle', :style=>'margin:5px; height:40px;' %></li>
          <li><%= link_to 'SIGN OUT', destroy_user_session_path , :method => :delete %></li>
        <% else %>
          <li><%= link_to 'REGISTER', new_user_registration_path %></li>
          <li><%= link_to 'SIGN IN', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
