<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-default">
      <div class="navbar-class">
        <div class="container">


          <!-- Collect the nav links, forms, and other content for toggling -->

          <ul class="nav navbar-nav">
            <li><%= link_to "HOME", articles_path, :class=>'active' %></li>
              
            <li><a href="#">TRAINING</a></li>
            
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </header>
  	<div class="container">
      <%= yield %>
  	</div>
  </body>
</html>
  